<h1>New Task</h1>
<%= form_with url: tasks_path, method: :post do %>
  <p>Title: <%= text_field_tag :title %></p>
  <p>Description: <%= text_area_tag :description %></p>
  <p>Status: <%= select_tag :status, options_for_select(["pending", "in progress", "completed"]) %></p>
  <p>Due Date: <%= date_field_tag :due_date %></p>
  <%= submit_tag "Create Task" %>
<% end %>
